// Import Google fonts
@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,300,700|Raleway:400,100,300,700,500");

// To use a font file (.woff) uncomment following lines
@font-face {
  font-family: "Helvetica Neue Light";
  src: font-url('fonts/HelveticaNeue-Light.eot');
  src: font-url('fonts/HelveticaNeue-Light.eot?#iefix') format('embedded-opentype'),
       font-url('fonts/HelveticaNeue-Light.woff') format('woff'),
       font-url('fonts/HelveticaNeue-Light.ttf') format('truetype')
}
$helvetica-neue: "Helvetica Neue Light";

@font-face {
  font-family: "Copperplate";
  src: font-url('fonts/copperplate.eot');
  src: font-url('fonts/copperplate.eot?#iefix') format('embedded-opentype'),
       font-url('fonts/copperplate.woff') format('woff'),
       font-url('fonts/copperplate.ttf') format('truetype')
}
$copperplate: "Copperplate";


// Define fonts for body and headers
$body-font: $helvetica-neue, "Helvetica", "sans-serif";
$headers-font: $helvetica-neue, "Helvetica", "sans-serif";
