---
title: Senna V. - Contact
---

<div id="contact">
  <div class="contact-content">
    <h1>For general information & inquiries, please contact:</h1>
    <h2><a href="mailto:contact@senna-v.com?Subject=Inquiry" target="_top">contact@senna-v.com</a></h2>
    <h2>+31 (0)6 315 70 155 </h2>
  </div>
</div>
