---
title: Senna V. - Contact
---

<div id="contact">
  <div class="contact-content">
    <%= image_tag "sennav-logo.jpg", class: "logo-responsive" %>
    <div class="details">
      <h2><a href="mailto:contact@senna-v.com?Subject=Inquiry" target="_top">contact@senna-v.com</a></h2>
      <h2>+31 (0)6 315 70 155</h2>
      <h2><%= link_to "www.senna-v.com", "index.html" %></h2>
    </div>
    <div class="filler-div"></div>
  </div>
</div>
