---
title: Senna V. - Contact
---

<div id="contact">
  <div class="contact-content">
    <%= image_tag "sennav-logo.jpg", class: "logo-responsive" %>
    <div class="details">
      <p><a href="mailto:contact@senna-v.com?Subject=Inquiry" target="_top">contact@senna-v.com</a></p>
      <p>+31 (0)6 315 70 155</p>
      <p><%= link_to "www.senna-v.com", "index.html" %></p>
    </div>
    <div class="filler-div"></div>
  </div>
</div>
