---
title: Senna V. - Brand Amplification
---

<div id="home">
  <div class="home-content">
    <%= image_tag "sennav-logo.jpg", class: "logo-responsive" %>
    <p class="contact">
      <%= link_to "coming soon...", "contact.html" %>
    </p>
  </div>
</div>
